@import url('https://fonts.cdnfonts.com/css/public-sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: aquamarine;
}

.navbar {
    grid-area: navbar;
    background-color: rgb(255, 212, 127);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(255, 178, 127);
}

.main {
    grid-area: main;
    background-color: rgb(127, 127, 255);
}

.footer {
    grid-area: footer;
    background-color: rgb(237, 146, 195);
}


.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 50px
        "navbar" 50px
        "main" auto
        "sidebar" 100px
        "footer" 50px 
        ;
}

@media (min-width: 600px) {
    .grid-container{

        grid-template:
            "header header" 100px
            "navbar navbar" 50px
            "sidebar main" auto
            "footer footer" 50px /
            200px auto
            ;
    }
    
}

@media (min-width: 900px) {
    .grid-container{

        grid-template:
            "header header header" 100px
            "navbar main sidebar" auto
            "footer footer footer" 50px /
            200px   auto    200px
            ;
    }
    
}